/* anchor */
a, a:visited {
    color: var(--foreground);
    text-decoration: none;
}

a:not(.image-link) {
    background-image: linear-gradient(transparent 90%, var(--green) 10%);
    background-repeat: no-repeat;
    background-size: 0;
    transition: all 0.3s;
    background-position: center;
}

a:focus, a:hover, a:active {
    background-size: 100%;
}

.chipset {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* chip */
.chip {
    padding: 4px 12px;
    margin: 3px;
    border-radius: 16px;
    cursor: default;
    display: inline-block;
}

.chip--primary {
    background-color: var(--green);
    color: var(--background);
    font-weight: bold;
}

.chip--dark {
    background-color: var(--background);
    color: var(--foreground);
}

.chip--btn {
    background-position: center;
    transition: background 0.5s;
    background-color: var(--green);
    cursor: pointer;
}

.chip--btn:hover {
    background: #149a48 radial-gradient(circle, transparent 1%, #149a48 1%) center/15000%;
}

.chip--btn:active {
    background-color: var(--green);
    background-size: 100%;
    transition: background 0s;
}

.progressbar {
    border-radius: 5px;
    margin: 5px 0;
    background-color: var(--gray-dark);
}

.progressbar__progress {
    height: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.label {
    display: inline-block;
    width: 100%;
    font-weight: bold;
}