/** Layout **/
@import "./styles.css";

.dashboard {
    display: grid;
    margin: 1rem;
    grid-gap: 1rem;
    height: auto;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
            'area--user'
            'area--top-artist'
            'area--audio-feature'
            'area--timeline';
}

@media only screen and (min-width: 1024px) {
    .dashboard {
        grid-template-columns: 30% auto;
        grid-template-areas:
            'area--user area--top-artist'
            'area--audio-feature area--timeline';
    }
}

.top-artist-area {
    grid-area: area--top-artist;
}

.area--user {
    grid-area: area--user;
    text-align: center;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.area--user__image {
    width: 60vw;
    height: 60vw;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    background-color: rgba(52, 58, 64, 0.3);
    margin: 1em auto;
}

.area--user__property {
    margin-bottom: 1em;
}

.area--timeline {
    grid-area: area--timeline;
}

.area--audio-feature {
    grid-area: area--audio-feature;
}

.area--gray {
    background: rgba(52, 58, 64, 0.3);
}

.area--rounded-corners {
    border-radius: 10px;
}

.area__title {
    margin-top: 30px;
    text-align: center;
    border-bottom: var(--gray-dark) thin solid;
    text-transform: uppercase;
}

.area__content {
    padding: 2em;
}

.user-area__name {
    display: inline-block;
    width: 100%;
    padding: 0.5em 0;
    background: rgba(52, 58, 64, 0.3);
    margin-bottom: 1em;
}

.feature-chart-container {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .feature-chart-container {
        display: inherit;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0;
    }

    .area--user__image {
        width: 20vw;
        height: 20vw;
    }
}

.timeline-chart-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.valence {
    background-color: var(--blue);
}

.danceability {
    background-color: #8e25ad;
}

.energy {
    background-color: var(--pink);
}

.acousticness {
    background-color: var(--orange);
}

.instrumentalness {
    background-color: var(--indigo);
}

.liveness {
    background-color: var(--red);
}

.speechiness {
    background-color: var(--info);
}

.artist-table {
    width: 100%;
    padding: 2em;
    counter-increment: rowNumber;
}

.artist-table__cell {
    text-align: center;
    padding-bottom: 2em;
}

.artist-table__cell--red {
    color: var(--red);
}

.artist-table__cell--orange {
    color: var(--orange);
}

.artist-table__cell--blue {
    color: var(--blue);
}

.artist-table__row:not(:first-child) {
    counter-increment: rowNumber;
}

.artist-table__count::before {
    margin-right: 2em;
    content: '#' counter(rowNumber);
}

.artist-table__img {
    height: 3em;
    width: 3em;
    display: inline-block;
    object-fit: cover;
    border-radius: 5px;
}

.artist-table__genres {
    display: none;
}

.artist-table__popularity {
    display: none;
}

.artist-table__header--md {
    display: none;
}

@media only screen and (min-width: 750px) {
    .artist-table__img {
        height: 5em;
        width: 5em;
    }

    .artist-table__genres {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .artist-table__genres div:first-child {
        display: inherit;
    }

    .artist-table__genres div:not(:first-child) {
        display: none;
    }

    .artist-table__popularity {
        display: table-cell;
    }

    .artist-table__cell {
        padding-left: 1em;
    }

    .artist-table__header--md {
        display: table-cell;
    }
}

@media only screen and (min-width: 1600px) {
    .artist-table__genres div:not(:first-child) {
        display: inherit;
    }
}

.top-genre {
    text-align: center;
}

.top-genre__element {
    text-transform: uppercase;
}

.text--info {
    color: var(--info);
}

.text--wrap {
    word-wrap: break-word;
}
