/** Layout **/

.dashboard {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
            'item1'
            'item2'
            'top-artist-area';
}

@media only screen and (min-width: 1024px) {
    .dashboard {
        grid-template-areas:
            'top-artist-area item1'
            'top-artist-area item2';
    }
}

.top-artist-area {
    grid-area: top-artist-area;
    height: 100%;
}

.item1 {
    grid-area: item1;
    height: 50%;
}

.item2 {
    grid-area: item2;
    height: 50%;
}

.top-artist-area, .item1, .item2 {
    border: var(--gray-dark) thin solid;
}