@import url("https://fonts.googleapis.com/css2?family=Montserrat");

:root {
    /* spotify colors */
    --foreground: #fff;
    --background: #191414;

    --blue: #509bf5;
    --green: #1db954;
    --pink: #cb1582;
    --orange: #f59b23;

    /* individual colors */
    --indigo: #6610f2;
    --purple: #6f42c1;
    --red: #dc3545;
    --yellow: #ffc107;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray-dark: #343a40;
    --primary: #007bff;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
}

body {
    margin: 0px;
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Montserrat", sans-serif;
    line-height: 1.65;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.bg-pink {
    background-color: var(--pink);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-purple-blue {
    background-color: #509BF5;
    background-image: linear-gradient(#c074b2, #8ab5e8);
}

a, a:visited {
    color: var(--foreground);
    text-decoration: none;
}

a:not(.image-link) {
    background-image: linear-gradient(transparent 90%, var(--green) 40%);
    background-repeat: no-repeat;
    background-size: 0;
    transition: all 0.3s;
    background-position: center;
}

a:focus, a:hover, a:active {
    background-size: 100%;
}

/* toolbar */
.toolbar {
    /* position */
    position: relative;

    /* padding */
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    margin-bottom: 1.5rem;

    /* flex */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    
    /* color */
    background-color: var(--background);

    /* bottom shadow */
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

    height: 48px;
    line-height: 48px;
}

.toolbar-sticky {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.toolbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.toolbar-menu {
    display: flex;
    line-height: 32px;
}

@media(max-width: 1024px) {
    .toolbar-menu-hidden-md {
        display: none;
    }
}

.toolbar-menu a:not(:last-child) {
    margin-right: 25px;
}

.brand-32x32 {
    background-image: url("../assets/brand-32x32.png");
    width: 32px;
    height: 32px;
}

.github-32x32 {
    background-image: url("../assets/github-32x32.png");
    width: 32px;
    height: 32px;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
}

section {
    padding: 40px;
}

/* flex layout */
.flex {
    flex-wrap: wrap;
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}


ul {
    list-style: none;
}

ul li {
    line-height: 48px;
    height: 48px;

    /* border instead of dot */
    border-top-width: 1px;
    border-top-style: solid;
}

.chip {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 4px 12px;
    border-radius: 16px;
    cursor: default;
    
}

.chip-primary {
    background-color: var(--green);
    color: var(--background);
}

.chip-dark {
    background-color: var(--background);
    color: var(--foreground);
}

.chip:not(:last-child) {
    margin-right: 10px;
}

.col-3 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

.team-member-image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-right: 20px;
    border: 1px solid var(--gray-dark);
}

.team-member {
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .team-member.col-3 {
        width: 100%;
        margin-bottom: 20px;
    }
}