@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import "./font_baseline.css";

:root {
    --foreground: #fff;
    --background: #191414;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray-dark: #343a40;

    --primary: #007bff;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --transition-duration: 0.3s;
}

html {
    background: var(--background);
    color: var(--foreground);
    font-family: "Montserrat", sans-serif;
}

body {
    margin: unset;
}
h1 {
    color: var(--green);
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    word-wrap: anywhere;
}

a {
    color: var(--foreground);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0.3em;
    background-image: linear-gradient(transparent 90%, var(--green) 40%);
    background-repeat: no-repeat;
    background-size: 0;
    background-position: center;
    transition: all var(--transition-duration);

}

a:hover, a:active, a:focus {
    color: var(--foreground);
    background-size: 100%;
    cursor: pointer;
    outline: none;
}

.navbar {
    top: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background: var(--background);
    border-bottom: var(--gray-dark) thin solid;
}

.navbar__entries{
    list-style: none;
    margin: 3vh 5vw;
    padding: 0;
    display: flex;
}

.navbar__item {
    margin-left: 1em;
    display: inline-block;
}

.navbar__item:first-child {
    margin-left: 0;
    margin-right: auto;
    flex-grow: 1;
}

.navbar__item:not(:first-child) {
    display: none;
}

.hero-header {
    height: 100vh;
    width: 100%;
}

.logo {
    fill: url(#rainbow);
    margin: 0 auto;
}

.logo--big {
    width: 100%;
    height: 100%;
}

/* Sections */
section {
    text-align: center;
    padding-top: 8rem;
}

.team {
    margin: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.team__member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 1.25rem 1.25rem;
    background: rgba(52, 58, 64, 0.3);
    padding: 1.25rem;
    border-radius: 5px;
}

.team__member__role {
    color: var(--foreground);
    background: rgba(52, 58, 64, 0.3);
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
}

.team__member__image {
    width: 300px;
    height: 300px;
    max-width: 70vw;
    max-height: 70vw;
    object-fit: cover;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.tech-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tech-stack__entry {
    background: var(--gray-dark);
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 1.25rem;
    padding: 1.25rem;
    border-radius: 5px;
}

.lessons-entries {
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.lessons__entry {
    border-bottom: var(--foreground) thin solid;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.chipset {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chip {
    background: var(--green);
    color: var(--background);
    border-radius: 3rem;
    padding: 0.5em 1em;
    margin: 0.5em;
    font-weight: 800;
}

.chip--outline {
    border: var(--foreground) solid;
    background: var(--background);
    color: var(--foreground);
}

.content {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

@media only screen and (min-width: 1024px) {
    .navbar__item:not(:first-child) {
        display: inline-block;
    }

    .team {
        flex-direction: row;
    }

    .team__member, .tech-stack__entry {
        width: 30vw;
    }

    .content {
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
    }

    .tech-stack {
        flex-direction: row;
    }

    .lessons-entries {
        width: 40vw;
    }
}