@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import "./font_baseline.css";
@import "./theme.css";
@import "./navbar.css";
@import "./utilities.css";
@import "./components.css";

body {
    margin: 0;
    background-color: var(--background);
    color: var(--foreground);
}

.header {
    margin: 3rem 0;
    text-align: center;
}

.main {
    text-align: center;
}

.content {
    width: 100%;
}

@media (min-width: 1024px) {
    .content {
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
    }
}

.image-link {
    align-self: center;
}

.bg-pink {
    background-color: var(--pink);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-purple-blue {
    background-color: #509BF5;
    background-image: linear-gradient(#c074b2, #8ab5e8);
}

.bg-dark-gray {
    background-color: var(--gray-dark);
}

.github-32x32 {
    background-image: url("../assets/github-32x32.png");
    width: 32px;
    height: 32px;
}

section {
    padding: 40px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    line-height: 48px;

    /* border instead of dot */
    border-top-width: 1px;
    border-top-style: solid;
}

.team-member-image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-right: 20px;
}

.team-member {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

@media (max-width: 512px) {
    .team-member {
        width: 100%;
        margin-bottom: 20px;
    }
}

.team-member-name {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.webapp-image {
    width: 100%;
}

@media (min-width: 1024px) {
    .webapp-image {
        width: initial;
    }
}

.chipset {
    margin: 0.5rem;
}