@import "./theme.css";

/* navbar */
.navbar {
    /* position */
    position: relative;

    /* padding */
    padding: 0.5rem 1.2rem;

    /* flex */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--gray-dark) thin solid;
    height: 48px;
    line-height: 48px;

    /* background color */
    background: var(--background);
}

.navbar--sticky {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.navbar__entries {
    display: flex;
    text-transform: uppercase;
    list-style: none;
    font-weight: bold;
    flex-grow: 1;
    padding-left: 0;
}

.navbar__entries--center {
    justify-content: center;
}

.navbar__entries--md, .navbar__entry--md {
    display: none;
}

@media(min-width: 1024px) {
    .navbar__entries--md, .navbar__entry--md {
        display: flex;
    }
}

.navbar__entry:not(.navbar__entry--md) {
    display: flex;
}

.navbar__entries a:not(:last-child), .navbar__entries li:not(:last-child) {
    margin-right: 25px;
}

.navbar__entries li:first-child {
    margin-right: auto;
}

.navbar__entries--right {
    justify-content: flex-end;
}

.navbar__entry__logo {
}

.navbar__entry__logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 16rem;
}