@import "./font_baseline.css";
@import "./navbar.css";
@import "./theme.css";
@import "./components.css";
@import "./utilities.css";

body {
    margin: 0;
    background-color: var(--background);
    color: var(--foreground);
}

.image-link {
    display: flex;
    align-items: center;
}