:root {
    /* spotify colors */
    --foreground: #fff;
    --background: #191414;
    --blue: #509bf5;
    --green: #1db954;
    --pink: #cb1582;
    --orange: #f59b23;

    /* individual colors */
    --indigo: #6610f2;
    --purple: #6f42c1;
    --red: #dc3545;
    --yellow: #ffc107;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray-dark: #343a40;
    --primary: var(--green);
    --success: var(--blue);
    --info: var(--yellow);
    --warning: var(--orange);
    --danger: var(--red);
}