/* toolbar */
.toolbar {
    /* position */
    position: relative;

    /* padding */
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    margin-bottom: 1.5rem;

    /* flex */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    
    /* bottom shadow */
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

    height: 48px;
    line-height: 48px;
}

.toolbar-sticky {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.toolbar-menu {
    display: flex;
    line-height: 32px;
}

@media(max-width: 1024px) {
    .toolbar-menu-hidden-md {
        display: none;
    }
}

.toolbar-menu a:not(:last-child) {
    margin-right: 25px;
}

.brand-32x32 {
    background-image: url("../assets/brand-32x32.png");
    width: 32px;
    height: 32px;
}
