.flex {
    flex-wrap: wrap;
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.mr-auto {
    margin-right: auto !important;
}